

/*** Portfolio pieces ***/
.portfolio-thumbnail {
    background-color: #fff;
    border-color: #863ee3;
    border-width: 2px;
    width: 95%;
}

.portfolio-thumbnail:hover {
    border-color: #ebd122;
}

.portfolio-title {
    font-weight: bold;
    padding-top: 3%;
}

.portfolio-description {}

.portfolio-image {}

#about-world {
    max-height: 200px;
}

.resume h3 {
    font-weight: bold;
}

hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: #863ee3;
}

a:hover {
    color: #ebd122;
}

.jumbotron {
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    padding: 3%;
    border-radius: 0px;
}

.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
}


.img-responsive {
    max-width: 100%;
    height: auto
}

body {

    font-family: 'Georgia', serif;
    background-color: #ffffff;
    color: #242424;
}

h4 {
    color: black;
    font-size: px;
    font-weight: bold;
    border-radius: 0;
}